@charset "UTF-8";

/* ---------------------------------------------------------- *\
 * Data
\* ---------------------------------------------------------- */

/**
 * Colors.
 */

$color-brand: rgb(196, 75, 75);
$color-text: rgb(10, 10, 10);
$color-overscroll: rgb(175, 37, 0);

/**
 * Fonts.
 */

$font-normal: Verdana, sans-serif;
